# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Data
# -----------------------------
data/processed/
*.parquet

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Testing
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Build
# -----------------------------
dist/
build/
*.egg-info/

# -----------------------------
# Local Development Scripts
# -----------------------------
scripts/
scrpits/