# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/secrets.toml

# Data
data/processed/
*.parquet

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db